$primary-color: #333;
$white-color: #fff;
$text-color: #555;
$font-family: "Lexend", Arial, Helvetica, sans-serif;
$base-font-size: 15px;
$font-weight-light: 300;
$font-weight-medium: 500;
$font-weight-bold: 600;
$banner-bg: url("../img/banner.webp");
$box-shadow: -19px -1px 22px -15px rgba(0, 0, 0, 0.3);
$error-color: #e74c3c;
$success-color: #27ae60;
$border-color: #ddd;
$hover-color: #f8f8f8;
